<h1 id="saison1">Saison 1</h1>

<div id="podcasts1">
  <div class="podcast">
    <img src="../../assets/img/podcast1.PNG" alt="">
    <a href="">X-WAVE #1 - Lasse Vind - 28/12/2019</a>
  </div>

  <div class="podcast">
    <img src="../../assets/img/podcast2.PNG" alt="">
    <a href="">X-WAVE #2 - Matriark - 25/01/2020</a>
  </div>

  <div class="podcast">
    <img src="../../assets/img/podcast3.PNG" alt="">
    <a href="">X-WAVE #3 - Blue Master - 29/02/2020</a>
  </div>

  <div class="podcast">
    <img src="../../assets/img/podcast4.PNG" alt="">
    <a href="">X-WAVE #4 - Marius Bø - 28/03/2020</a>
  </div>

  <div class="podcast">
    <img src="../../assets/img/podcast5.PNG" alt="">
    <a href="">X-WAVE #5 - Lund&Rønde - 25/04/2020</a>
  </div>

  <div class="podcast">
    <img src="../../assets/img/podcast6.PNG" alt="">
    <a href="">X-WAVE #6 - Opus Dream - 30/05/2020</a>
  </div>

  <div class="podcast">
    <img src="../../assets/img/podcast7.PNG" alt="">
    <a href="">X-WAVE #7 - Jaïa - 27/06/2020</a>
  </div>
</div>

<h1>Saison 2</h1>
