<h1>X-Wave project</h1>

<div class="flex">
  <img src="./assets/img/xwave-about.jpg" alt="">
  <p>2020, le temps pour X-Wave de revenir sur les belles années de la trance, des années 90 aux milieux des années 2000, mais avec son zest de modernité. Cette vibe rapide et énergique qui prend sa source dans les rythmes planants des seventies, vous projette dans un monde paralèle.
  Goa, psy, hard, prog, ici la trance est à l’honneur à travers un format de 2h, dont 1h assuré par un guest finement sélectionné, et 1h aux manettes de GTI et Dj Sueur (X-Wave). Un voyage est annoncé et la destination se veut être psychédélique.
  </p>
</div>

