body {
  background-color: #faf5f0;
}

#contact {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#contact h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 100px;
}

.border {
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.form-control {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background: #111;
  padding: 30px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.form-control:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.form-control {
  resize: none;
  height: 120px;
}

.submit {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 8px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.submit:hover {
  background: #2980b9;
}


