body {
  background-color: #faf5f0;
}

#contact {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#contact h1 {
  font-size: 30px;
  text-align: center;
  color: orange;
  padding-top: 10%;
}

.border {
  width: 100px;
  height: 10px;
  background: orange;
  margin: 40px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.form-control {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background: #111;
  padding: 30px 40px;
  outline: none;
  color: black;
  background-color: orange;
  transition: 0.5s;
}

.form-control:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.form-control {
  resize: none;
  height: 120px;
}

.submit {
  width: 400px;
  margin: 0 auto;
  border: 0;
  background: black;
  border: 1px solid orange;
  color: #fff;
  padding: 8px 50px 8px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.submit:hover {
  background: #2980b9;
}


