<section id="contact">
  <h1>Contact - Booking</h1>

  <p>You can contact us on our mail <a href="mailto:x.wave.booking@gmail.com">x.wave.booking@gmail.com</a></p>

  <h3>Check out our social media features</h3>
  <div class="flex">
    <div class="IG">
      <h4>Instagram</h4>
      <a href="https://www.instagram.com/x.wave"><img src="../assets/img/xwaveig.png" alt=""></a>
    </div>


    <div class="SC">
      <h4>Soundcloud</h4>
      <a href="https://soundcloud.com/x-wave9"><img src="../assets/img/xwavesc.png" alt=""></a>
    </div>
  </div>
</section>

