<section id="contact">
  <h1>Contact - Booking</h1>

  <form class="contact-form" method="post" action="">

    <input type="text" name="name" class="form-control" placeholder="Your Name" value=""><br>

    <input type="email" name="email" class="form-control" placeholder="Your Email" value=""><br>

    <textarea name="message" class="form-control" placeholder="Message" rows="4" value=""></textarea><br>

    <input type="submit" class="form-control submit" value="SEND MESSAGE">
  </form>
</section>

