.container {
  margin-top: 60px;

  .label-container {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 20px 0px;

    .label-image {
      width: 50%;
      margin: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .label-contenu {
      width: 50%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .podcast-list {
        margin-top: 20px;

        .podcast-item{
          margin: 10px;
        }
      }

    }

  }

  .bandcamp {
    margin: 0px 10px 0px 10px;
  }

}

