<section class="container">
  <div class="contact-form">

    <h1>Contact Us</h1>

    <form (ngSubmit)="submitForm()" #contactForm="ngForm">

      <!-- name -->
      <div class="field">
        <label class="label" for="">Name</label>
        <input
          type="text"
          name="name"
          class="input"
          [(ngModel)]="name"
          #nameInput="ngModel"
          required>

          <div class="help is-error" *ngIf="nameInput.invalid">
            Your name is required.
          </div>
      </div>


      <!-- email -->
      <div class="field">
        <label class="label" for="">Email</label>
        <input
          type="email"
          name="email"
          class="input"
          [(ngModel)]="email"
          #emailInput="ngModel"
          required
          email>

          <div class="help is-error" *ngIf="emailInput.invalid">
            Your email is required and needs to be an email.
          </div>
      </div>


      <!-- message -->
      <div class="field">
        <label class="label" for="">Your Message</label>
        <textarea
          name="message"
          class="textarea"
          [(ngModel)]="message">
        </textarea>
      </div>


      <!-- submit button -->
      <button
        type="submit"
        class="btn"
        [disabled]="contactForm.invalid">
        Send
      </button>

    </form>
  </div>
</section>

