.title {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #f7a11e;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'MyFont', sans-serif;
  cursor: url('../../../assets/cursor/Phlame_Arrow_Precision_Select.cur'), pointer;
  display: inline;
  margin: 0 50px;
}

#podcasts1, #podcasts2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.podcast {
  position: relative;
  width: 22%;
  margin: 10px;
}

.podcast_img {
  width: 80%;
}

.podcast_detail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
  background: rgba(247, 161, 30, 0.60);
  color: black;
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  font-family: 'MyFont', sans-serif;
  text-align: center;
  padding-top: 20%;
  font-size: 17px;
  font-weight: bold;
  cursor: url('../../../assets/cursor/Phlame_Arrow_Precision_Select.cur'), pointer;
}

.podcast:hover .podcast_detail {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  section {
    height: 100%;
  }

  h1 {
    font-size: 18px;
  }

  .active {
    font-size: 22px!important;
  }

  .podcast {
    width: 40%;
  }

  .podcast_detail {
    padding-top: 10%;
    font-size: 14px;

  }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.active { font-size: 26px;}
