h1 {
  color: #f7a11e;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
  font-family: 'MyFont', sans-serif;
}

img {
  display: block;
  width: 28%;
  margin-right: 40px;
  margin: 0 auto;
}

p {
  color: #f7a11e;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  font-size: 18px;
  font-family: 'MyFont', sans-serif;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  img {
    width: 80%;
  }

  p {
    width: 100%;
  }
}
