<section class="container">
  <h1> About X-Wave project</h1>

  <div class="flex">
    <img src="./assets/img/xwave-about.jpg" alt="">
    <p>DJ Sueur and GTI have launched their X-Wave podcast series at the end of 2018 in order to share with the world their vision of dance music. Broadcasted every last Saturday of the month on the webradio DY10, their two hour long shows always feature a guest for the first hour followed by the X-Wave lads on the second one. Aesthetically, the main focus is old school trance in every form (goa, psy, prog, acid or hard) with splashes of modern stuff.

      This platform allows you to keep up with X-Wave projects, from merch to new music material.
    </p>
  </div>
</section>

