
 .navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid #f7a11e;
}

.navbar nav {
  width: 40%;
  margin-top: 150px;
}

.navbar li {
  list-style-type: none;

  .active {
    background-color: #f7a11e;
    color: black;
    border-radius: 30% 30% 0 0;
  }
}

.navbar ul {
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
  margin: -10px;
}

/* The navigation menu links */
.navbar a {
  width: 110%;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f7a11e;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.navbar a:hover {
  font-weight: bold;
}

/* Style page content */


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

}


.social {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.container {
  padding: 0 10%;
}

