<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="sidenav">
  <nav>
    <ul>
      <li><a routerLink="/app-about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/app-podcast" routerLinkActive="active">Podcast</a></li>
      <li><a routerLink="/app-merch" routerLinkActive="active">Merch</a></li>
      <li><a routerLink="/app-label" routerLinkActive="active">Label</a></li>
      <li><a routerLink="/app-contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>
