<section class="container">


  <h1>
    <i class="icon fa fa-arrow-left" aria-hidden="true" (click)="goBack()"></i>
    <span>{{podcastDetail.nom}} - {{podcastDetail.date}}</span>
  </h1>

  <div class="podcast-container">
    <div class="podcast-image">
      <img data-enlargeable width="100" style="cursor: zoom-in" class="imgage" src="../..{{podcastDetail.imagePodcast}}" alt="">
    </div>

    <div class="podcast-contenu">
      <span class="podcast-description">{{podcastDetail.descriptionPodcast}}</span>
    </div>
  </div>

  <div class="soundcloud">
    <div class="soundcloud-frame">
      <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        [src]="getSoundcloudUrl()">
      </iframe>
    </div>
  </div>

  <div class="artiste-container">
    <div class="artiste-contenu">
      <span class="artiste-description">{{podcastDetail.descriptionArtiste}}</span>
    </div>

    <div class="artiste-image">
      <img class="imgage" src="../..{{podcastDetail.imageArtiste}}" alt="">
    </div>
  </div>

</section>

