<section *ngIf="podcastDetail.id">

  <div class="parent background-wrapper">
    <div class="image background-inner" [ngStyle]="{'background-image':' url(' + podcastDetail?.imagePodcast + ')'}">
    </div>
    <div class="descirption">
      toto
    </div>
  </div>



  <div class="image background-inner player">
    <iframe width="100%"
      height="300"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      [src]="getSoundcloudUrl(podcastDetail.soundcloudUrl)">
    </iframe>
  </div>


</section>
