.container {
  padding-top: 60px;
  margin-bottom: 30px;
  h1 {
    margin-left: 10px;
    color: #f7a11e;
    font-size: 24px;
    font-family: "MyFont", sans-serif;

    .icon {
      margin-right: 20px;
      cursor: pointer;
      font-weight: normal;
    }
  }

  .podcast-container {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 20px 0px;

    .podcast-image {
      width: 100%;
      margin: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .imgage {
        min-width: 0;
        min-height: 0;
        max-height: 25rem;
      }
    }

    .podcast-contenu {
      color: #f7a11e;
      width: 50%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 3px solid #f7a11e;
      padding: 20px;

      .podcast-description {
        align-self: center;
        font-size: 1.25rem;
      }
    }

  }

  .soundcloud {
    margin: 40px 10px 0px 10px;

    .soundcloud-frame {
      margin-top: 10px;
    }
  }
}

