.container {
  margin-top: 60px;
  margin-bottom: 30px;
  h1 {
    margin-left: 10px;
  }

  .podcast-container {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 20px 0px;

    .podcast-image {
      width: 50%;
      margin: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .imgage {
        min-width: 0;
        min-height: 0;
      }
    }

    .podcast-contenu {
      width: 50%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

  .soundcloud {
    margin: 40px 10px 0px 10px;

    .soundcloud-frame {
      margin-top: 10px;
    }
  }
}

