h1 {
  color: #f7a11e;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
  font-family: 'MyFont', sans-serif;
}

p {
  width: 250px;
  margin: 0 auto;
  color: #f7a11e;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 1px solid #f7a11e;
  text-align: center;
  font-family: 'MyFont', sans-serif;
}

i {
  display: block;
  color: #f7a11e;
  text-align: center;
  font-size: 40px;
  padding: 20px 0 80px 0;
}

iframe {
  width: 90%;
  margin-left: 40px;
}
