.black-bar {
  width: 99.9%;
  height: 200px;
  background-color: black;
  position: absolute;
  top: 52px;
  margin-left: 2px;
}

.logo-anime img {
  display: block;
  margin: 50px auto;
  width: 25%;
}



@media screen and (max-width: 1024px) {
  .black-bar {
    display: none;
  }

  .logo-anime img {
    display: block;
    width: 100%;
    margin: 100px auto;
  }
}
