h1 {
  color: #f7a11e;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;
  font-family: 'MyFont', sans-serif;
}

.merch-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 100px auto;
}

.merch-images {
  width: 60%;
}

#featured {
  width: 70%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid orange;
  cursor: url('../../../assets/cursor/Phlame_Arrow_Precision_Select.cur'), pointer;
}

.thumbnail {
  object-fit: cover;
  width: 18%;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid orange;
  cursor: url('../../../assets/cursor/Phlame_Arrow_Precision_Select.cur'), pointer;
}

.thumbnail:hover {
  opacity: 1;
}

.active2 {
  opacity: 1;
}

.merch-description {
  color: #f7a11e;
  width: 30%;
}

.merch-description p {
  font-size: 16px;
  font-style: italic;
}

.outStock {
  color: red;
  font-size:24px;
}

#slider {
  margin-left: 50px;
}

@media screen and (max-width: 1024px) {
  .merch-container{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .merch-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    #slider{
      margin-left: 0;
    }
  }
}
