

<div class="merch-container">
  <div class="merch-images">
    <img id="featured" src="./assets/img/echarpe1.jpg" alt="">

    <div id="slider">
      <img class="thumbnail active2" src="./assets/img/echarpe1.jpg" alt="">
      <img class="thumbnail" src="./assets/img/echarpe2.jpg" alt="">
      <img class="thumbnail" src="./assets/img/echarpe3.jpg" alt="">
    </div>
  </div>
  <div class="merch-description">
    <h1>X-WAVE SCARF</h1>
    <p class="outStock">OUT OF STOCK</p>
  </div>
</div>

