<h1>New merch available</h1>

<div class="merch-container">
  <div class="merch-images">
    <img id="featured" src="./assets/img/podcast1.PNG" alt="">

    <div id="slider">
      <img class="thumbnail active" src="./assets/img/podcast1.PNG" alt="">
      <img class="thumbnail" src="./assets/img/podcast2.PNG" alt="">
      <img class="thumbnail" src="./assets/img/podcast3.PNG" alt="">
    </div>
  </div>
  <div class="merch-description">
    <p>Buy our fresh X-WAVE scarf on BandCamp</p>
    <h2>X-WAVE SCARF Serie 1</h2>
    <hr>
    <h3>$15</h3>
    <div class="bandcamp"></div>
  </div>
</div>

