<h1>New merch available</h1>

<div class="merch-container">
  <div class="merch-images">
    <img id="featured" src="./assets/img/echarpe1.jpg" alt="">

    <div id="slider">
      <img class="thumbnail active2" src="./assets/img/echarpe1.jpg" alt="">
      <img class="thumbnail" src="./assets/img/echarpe2.jpg" alt="">
      <img class="thumbnail" src="./assets/img/echarpe3.jpg" alt="">
    </div>
  </div>
  <div class="merch-description">
    <p>Buy our fresh X-WAVE scarf on BandCamp</p>
    <h2>X-WAVE SCARF</h2>
    <div class="bandcamp"></div>
  </div>
</div>

